// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Montserrat', sans-serif !important;

body {
  font-family: 'Montserrat', sans-serif !important;
}

/*
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
*/
.font-weight-bold{
  font-weight: 800;
}

.primary-background{
  background-color: #1ba7e0 !important;
}

.w-10{
  width: 10% !important;
}

.mr-2 {
  margin-right: 1.5rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}


.mr-5 {
  margin-right: 3rem !important;
}


.ml-2 {
  margin-left: 1.5rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

a {
  text-decoration: none !important;
}

$theme-colors: (
  "primary": #1ba7e0,
  "light":      #ffff,
);